<div class="bookform">
    
    <div class="heading">
      <h1>CREATE</h1>
      <H1>UPDATE</H1>
    </div>

    <div class="form">
      
      <form method="POST">
        <input type="text" placeholder="Enter Title">
        <input type="text" placeholder="Enter Author">
        <input type="number" placeholder="Enter Price">
        <input type="number" placeholder="Enter Total Sold">
        <input type="number" placeholder="Enter Total Available">
        <input type="text" placeholder="Enter Genre">
        <input type="file" placeholder="Upload Cover">
        <button type="submit">Submit</button>
      </form>
    
    </div>

  </div>