<div class="bookform">
    
    <div class="heading">
      <h1>CREATE</h1>
      <H1>UPDATE</H1>
    </div>

    <div class="form" encType="multipart/form-data">
      
      <form method="POST" #bookform="ngForm" (ngSubmit)="createBook(bookform.value)">
        <input type="text" name="title" ngModel placeholder="Enter Title">
        <input type="text" name="author" ngModel placeholder="Enter Author">
        <input type="number" name="price" ngModel placeholder="Enter Price">
        <input type="number" name="totalsold" ngModel placeholder="Enter Total Sold">
        <input type="number" name="totalavailable" ngModel placeholder="Enter Total Available">
        <input type="text" name="genre" ngModel placeholder="Enter Genre">
        <input type="file" name="cover" (change)="onFileSelected($event)" ngModel placeholder="Upload Cover">
        <button type="submit">Submit</button>
      </form>
    
    </div>

  </div>