.home{
    background: darkslategrey;
    width: 81vw;
    height: 100%;
    padding: .5em;
}

.homecontent{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    gap: 1rem;
}

.homecontent section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.banner img{
    width: 100%;
}

.welcome{

}

.description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.regards{

}

.bookscollection{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
}

.books{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.books img{
    width: 100%;
    height: 15rem;
}